<html>
    <head>
        <title>Spring Security Example </title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div>
            <form th:action="@{/task}" method="post">
                <input type="text" name="name" placeholder="Введите название задачи" />
                <input type="text" name="definition" placeholder="Описание задачи">
                <button type="submit">Добавить</button>
            </form>
        </div>
        <div class="card-columns" >
            <div th:each="task : ${tasks}">
            <div class="card my-3">
                <div class="m-2">
                    <span >
                        <div th:text="${task.name}"></div>
                    </span>
                    <i >
                        <div th:text="${task.definition}"></div>
                    </i>
                </div>
            </div>
            </div>
        </div>
        <p>
            <a href="../home.html" th:href="@{/}">Return to home</a>
        </p>
        </body>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>